<div class="container">
  <p>
    Maak je keuze uit één van de volgende ploegen:
    <ul>
      <li><a ui-sref="details({teamGuid: 'BVBL1281DSE++1'})">Dames</a></li>
      <li><a ui-sref="details({teamGuid: 'BVBL1281HSE++2'})">Reserven</a></li>
      <li><a ui-sref="details({teamGuid: 'BVBL1281HSE++1'})">Heren</a></li>
    </li>
  </p>
</div>
